@use 'utilities/contrast';

/**
 * Color setup
 */
/* Basic model */
$primaryColor: rgb(50, 88, 168);
$secondaryColor: darken($primaryColor, 50%);

/* Extensive role model */
$isDarkModeEnabled: contrast.isColorDark($primaryColor);
// Body
$bodyBackgroundColor: darken($primaryColor, 35%);
$bodyFontColor: contrast.adjust($bodyBackgroundColor, 80%, $isDarkModeEnabled);
// Icons
$userAvatarBorderColor: contrast.adjust($bodyBackgroundColor, 40%, $isDarkModeEnabled);
// Header & Meta Navigation
$metaNavItemFontColor: darken($bodyFontColor, 8%);
$metaNavItemFontColorCurrent: $bodyFontColor;
// Action Panels
$actionPanelBorderColor: contrast.adjust($bodyBackgroundColor, 40%, $isDarkModeEnabled);
$actionPanelBackgroundColor: lighten($bodyBackgroundColor, 80%);
$actionPanelFontColor: darken($actionPanelBackgroundColor, 70%);

/**
  * Header spacing setup
  */
$headerOuterMargin: 1.8em;
$metaNavItemSpacing: 0.4em;
$metaNavSpacing: $headerOuterMargin - $metaNavItemSpacing;