<!doctype html>
<html>
  <head>
    {{ template "_common_head.html" }}
    <title>An error occurred</title>
  </head>
  <body class="modal-container">
    <div class="red accented full-size modal">
      <header id="app-header">
        <div class="left side">
          <div class="app-logo">
            <img src="/static/cooked/app.svg" alt="Erdwolf" />
          </div>

          <span class="app-name">Erdwolf</span>
        </div>
      </header>

      <main>
        <h1 class="modal-title">Sorry,</h1>
        <p>an error has occurred and we could not continue processing your request.</p>
        <br>
        <p>Please contact your system administrator.</p>
      </main>
    </div>
  </body>
</html>