<!doctype html>
<html>
    <head>
        {{ template "_common_head.gohtml" }}
        <title>Erdwolf</title>
    </head>
    <body>
        {{ template "_dashboard_header.gohtml" }}

        <p class="system notification info">
            <b><i>Notice:</i></b> This is a mock-up of frontend interface.
        </p>

        {{ template "_action_nav.gohtml" }}
        Hello world!
    </body>
</html>