<!doctype html>
<html>
    <head>
        {{ template "_common_head.gohtml" }}
        <title>Erdwolf</title>
    </head>
    <body>
        {{ template "_dashboard_header.gohtml" }}
        Hello world!
    </body>
</html>